*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
    display: grid;
    grid-template: 
    'header header' auto
    'main main' 1fr
    'footer footer' auto/
     auto  1fr;
}

.header{
    color: aliceblue;
    background-color: black;
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3rem;
    padding: 0.5rem 1rem;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: aliceblue;
  }
.left-header{
    margin-left: 100px;
}
ul{
list-style-type: none;
display: flex;
gap: 3rem;
margin-left: 500px;
}
